<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsDev.Settings.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsDev.Settings.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowsDev.Settings.UserSettings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Host=localhost;Port=5432;Database=WindowsDev;Username=postgres;Password=q29384756</value>
            </setting>
            <setting name="LanguageCode" serializeAs="String">
                <value>ru</value>
            </setting>
        </WindowsDev.Settings.UserSettings>
        <WindowsDev.Settings.Settings1>
            <setting name="ConnectionString" serializeAs="String">
                <value>"Host=localhost;Port=5432;Database=WindowsDev;Username=postgres;Password=q29384756"</value>
            </setting>
            <setting name="LanguageCode" serializeAs="String">
                <value>ru</value>
            </setting>
        </WindowsDev.Settings.Settings1>
    </userSettings>
</configuration>